em {
  color: blueviolet;
}
.anime {
  width: 200px;
}
.tree_block {
  width: 200px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  line-height: 1px;
}

/*other stuff*/
body {
  background-color: rgb(75, 54, 99);
}
